.main-container {
    display: flex;
    padding-right: 32px;
}

.main-container-left {
    display: flex;
    flex-direction: column;
}

.product-container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
}

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 190px;
}

.label {
    display: block;
    width: 190px;
}

.shopping-cart {
    min-width: 25vw;
}

.btnShoppingCart {
    margin-left: 8px;
}