.main-container {
    display: flex;
    padding-right: 32px;
}

.product-container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
}

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
    }
}

.shopping-cart {
    min-width: 25vw;
}